 h1{
                color:coral;
            }
#sample{
    
    color:green;
}
.sample2{
    color:blue;
}
ul{
   display:flex;
    list-style:none;
       flex-direction:row;
        
}
@media screen and (max-width: 600 px) {
    ui {
        display:flex;
        list-style:none;
        
         flex-direction:column;
    }
}
