<!doctype htmal>
<html>
    <head>
        <title>First Project </title>
        <link rel="stylesheet" href="/css/style.css"
        <style>
            h3{
                color:#00cc00;
            }
            h4{
                
                color:blueviolet;
            }
        
        
        </style>
    </head>
    <body>
          
       <h1 style>="color:red">Hello World </h1> 
        <h2 style="color: blue"> hello world</h2>
        <h3>hello world</h3>
        <h4>hello world</h4>
        <h5>hello world</h5>
        <h6>hello world</h6>
        
        
        
        <h1>Next sample</h1>
         <h2>next sample</h2> 
        <h3>next sample </h3>
        <h4>next sample</h4>
        <h5>next sample</h5>
        <h6>samples</h6>
          
          </body>
    
</html>