<!doctype html>
<html>
    <head>
        
        
        <link rel="stylesheet" href="/css/style.css">
       
        <title>                  
    
                 order list & unorder list       
        </title>
    </head>
    
    
    
    
    
    <body>
         <h1 id='sample'>sample header</h1> 
         <h1 class='sample2'>sample header</h1>
        
               <h1> order list</h1> 
        
                       <ol>
                           <li> Apple</li>
                           <li> Orange</li>    
        
                       </ol>
              
         <h1> Unorder list</h1>
                     <ul>
                        <li> Dog</li>
                        <li>Cat</li>
        
            
                     </ul>
       
        <hi>custom menu</hi>
                     <ul>
                        <li>          
                           <a href='/views/firstpage.html'>FirstPage</a> 
                    
                        </li>
            <li>
            <a href='/views/reference.html'>REFERENCE PAGE</a>
                
            </li>
            <li>
         <a href='/views/index.html'>INDEX PAGE</a>
            </li>
            <li>
        <a href='/views/table.html'>TABLE PAGE</a>
                     
                        
            </li>
        
        
        
        </ul>
        <p class='sample2'>samcdcjdcdjchjdchasjchasjhsjhjasajschsjacasjacjascjsacjaschajcjascjascasjcajsc</p>
          
          </body>
    
</html>