<!doctype html>
<html>
    <head>
    <title>PeopleTAB</title>
        <link rel="stylesheet" href="/node_modules/ui_jquery/jquery-ui.css">
          <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <style>
            .error-msg{
            color:red;
            }
        </style>

    </head>
    <body>

    <div id="tabs">
      <ul>
        <li><a href="#formTab">FORM</a></li>
        <li><a href="#resultTab">RESULT</a></li>
        <li><a href="#nothingTab">DO NOT ENTER</a></li>
      </ul>
      <div id="formTab">
     <form name = "contactinfo">
            <div class="row">
                <div class="col-md-2">
                First Name
                </div>
                <div class="col-md-4">
                    <input type="text" name="firstName" id="firstName" placeholder="Enter First Name">
                </div>
                <div class="col-md-2">
                    <span class="error-msg" id="fnameErr">Invalid First Name</span>
                </div>
            </div>
             <div class="row">
                <div class="col-md-2">
                Last Name
                </div>
                <div class="col-md-4">
                    <input type="text" name="lastName" id="lastName" placeholder="Enter Last Name">
                </div>
                 <div class="col-md-2">
                    <span class="error-msg" id="lnameErr">Invalid Last Name</span>
                </div>
            </div>

        <div class="row">
                <div class="col-md-2">
                DOB
                </div>
                <div class="col-md-4">
                    <input type="text" name="dob" id="dob" placeholder="Enter Date of Birth">
                </div>
            <div class="col-md-2">
                <span class="error-msg" id="dobErr">Invalid Date</span>
                </div>
            </div>
              <div class="row">
                <div class="col-md-2">
                Gender
                </div>
                   <div class="col-md-2">
            <input type="radio" name="gender" id="gender" value="Male"> Male</div>
            <div class="col-md-2">
                <input type="radio" name="gender" id="gender" value ="Female"> Female</div>
             <div class="col-md-2">
                 <input type="radio" name="gender" id="gender" value ="other"> Other</div>

            </div>
            <div class="row">
                <div class="col-md-2">
                Address
                </div>
                <div class="col-md-4">
                    <input type="text" name="address" id="address" placeholder="Enter Address">
                </div>
                <div class="col-md-2">
                    <span class="error-msg" id="addErr">Invalid Address</span>
                </div>
            </div>
              <div class="row">
                <div class="col-md-2">
                State
                </div>
                <div class="col-md-4">
                    <select name="country" id="country">
    <option value="Not Selected">Select State</option>
	<option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
</select>				
				
                    
                </div>
            </div>
          <div class="row">
                    <div class="col-md-2">
                    Cars
                    </div>
                       <div class="col-md-2">
                <input type="checkbox" name="cars" id="cars" value="Toyota"> Toyota</div>
                <div class="col-md-2">
                    <input type="checkbox" name="cars"  id="cars" value ="Honda"> Honda</div>
                 <div class="col-md-2">
                     <input type="checkbox" name="cars" id="cars" value ="Ford"> Ford</div>
                    
                </div>
        </form>
          <button id="submit" >Submit</button>
          <button id="validate">Validate</button>
      </div>
    
        
      <div id="resultTab">
         
      </div>
        
      <div id="nothingTab">
          <img src="http://i.imgur.com/YlDMlZw.jpg" style="width:1000px;height:600px;">
      </div>
    </div>

        <h1 id="sample">This is a sample for hide and show</h1>
        <button id="sampleBtn" class="btn btn-primary">Toggle Hide/Show</button>
 <!--dialogs content below-->
        <div id="dialog" title="error">
            <p> plz fix it </p>
        </div>
        <footer>
         <button type="button" class="btn btn-default"><a href = "/view/contents.html">BACK</a></button>
            </footer>
        <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/node_modules/ui_jquery/jquery-ui.js"></script>
        <script type="text/javascript" src="/scripts/person.js"></script>

    </body>
</html>