<!doctype html>
<html>
    <head>
        <title>First Project </title>
            
    </head>
    <body>
      <table border="1">
                <tr>
          <th>Links</th>
            <th>Description</th>
                  
          </tr>
             
          
          <tr>
          <td>http://google.com</td>
        <td>Browsing anything </td>
                  
          </tr>
          
              
          
          <tr>
          <td>http://cnn.com</td>
          <td> for current news</td>
          
          </tr>
        
                
        </table>    
        
        
          </body>
    
</html>