<!doctype html>
<html>
    <head>
        <title>Sample Project </title>
               <style>
            h3{
                color:#00cc00;
            }
            h4{
                
                color:blueviolet;
            }
        
        
        </style>
    </head>
    <body>
          
       <h1 style>="color:red">Hello World </h1> 
        <h2 style="color: blue"> hello world</h2>
        <h3>hello world</h3>
        <h4>hello world</h4>
        <h5>hello world</h5>
        <h6>hello world</h6>
        
        
        
        
          <a href=http://www.goo<!doctype html>
<html>
    <head>
        <title>First Project </title>
        <link rel="stylesheet" href="/css/style.css"
        <style>
            h3{
                color:#00cc00;
            }
            h4{
                
                color:blueviolet;
            }
        
        
        </style>
    </head>
    <body>
          
       <h1 style>="color:red">Hello World </h1> 
        <h2 style="color: blue"> hello world</h2>
        <h3>hello world</h3>
        <h4>hello world</h4>
        <h5>hello world</h5>
        <h6>hello world</h6>
        
        
        
        
          <a href=http://www.cnn.com>CNN</a>
        
         
        </body>
    

        
    
</html>