<!doctype html>
<html>
    <head>
        <title>First Project </title>
       <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css'>
      
    </head>
    <body>
      <table class="table table-striped">
        
        <tr>
          <th>First Name</th>
            <th>Last Name</th>
                  
          </tr>
         
          
          
          
          <tr>
          <td>John</td>
        <td>Doe</td>
                  
          </tr>
          
          
          
          
          <tr>
          <td>Hanry</td>
          <td>peter</td>
          
          </tr>
        </table>    
                 
     <button type="button" class="btn btn-danger">danger</button>
      <button>button2</button>   
        <button>button3</button>
        
        
        
        
        
          </body>
    
</html>