<!doctype html>
<html>
    <head>
        <title>First Project </title>
        
      
    </head>
    <body>
      <table>
        
        <tr>
          <th>First Name</th>
            <th>Last Name</th>
                  
          </tr>
         
          
          
          
          <tr>
          <td>John</td>
        <td>Doe</td>
                  
          </tr>
          
          
          
          
          <tr>
          <td>Hanry</td>
          <td>peter</td>
          
          </tr>
        
        
        
        
        
        
        </table>    
      
        
        
        
        
        
          </body>
    
</html>